    <div class="row">
    	<div class="row">
    		<div class="col s12">
    			<div class="col s4">
    				<h2 class="header"> Your Profile Analysis </h2>
					    <div class="card medium horizontal">
					      <div class="card-stacked">
					        <div class="card-content">
		    					<canvas id="myChart" width="100%" height="100%"></canvas>
					        </div>
					     </div>
					</div>
    			</div>
    			<div class="col s8">
    				<div class="col s12" style="text-align: center;">
    					<h2> Genres According your Profile Analyse </h2>
    				</div>
    				<ul class="collapsible popout" data-collapsible="accordion">
    					<% @top_albums.each do |ceroNivel| %>
				    		<% ceroNivel.each do |primerNivel| %>
				    		<li>
				    			<div class="collapsible-header"><i class="material-icons">filter_drama</i><%= primerNivel["albums"]["@attr"]["tag"] %></div>
				    			<div class="collapsible-body">
					    			<% primerNivel["albums"]["album"].each do |segundoNivel| %>
					    			<p class="album_info">
							          	<span>
								              	Album Name: <%= segundoNivel["name"]%> 
										        Artista: <%= segundoNivel["artist"]["name"] %>
								        </span>
								    </p>
					    			<% end %>
				    			</div>
							</li>
				    		<% end %>
			    		<% end %>
					</ul>
    			</div>
    		</div>
    	</div>
    </div>
	<%= javascript_tag do %>
	   window.personality_names = JSON.parse('<%= raw @personality_names%>')
	   window.personality_percent = JSON.parse('<%= raw @personality_percent%>')
	<% end %>
<script>
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: personality_names,
	        datasets: [{
	            label: 'Personality\'s Percent',
	            data: personality_percent,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});
	</script>