<!DOCTYPE html>
<html>
  <head>
    <title>PersonalityAnalyzer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <!-- Compiled and minified JavaScript -->
     
  </head>

  <body>
  	<% if user_signed_in? %>
  	<ul id="user_info" class="dropdown-content user_info" style="width: 400px !important;left: 1039px;top: 66px;">
	  <li>
	  	<div class="container">
	  	<div class="row">
	        <div class="col s12">
	              <span class="card-title">User Information</span>
	              
	              
	              		<p> <%= current_user.username %> </p>
	              		<p> <%= current_user.twitter_user %> </p>
					  <a>
					  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
					  </a>
					  
					
	        </div>
	      </div>	
	  	</div>
	  </li>
	</ul>
	<nav class="grey lighten-5 black">
		<div class="nav-wrapper">
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a class="dropdown-button" href="#!" data-activates="user_info">
						<i class="material-icons"> account_circle </i>
					</a>
				</li>
		</ul>
		</div>
	</nav>
	<% end %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  	
  <script type="text/javascript">
  	$(document).ready(function(){
  		$(".dropdown-button").dropdown();
  		$('select').material_select();
  		$('.collapsible').collapsible();
  	});
  </script>
  
</html>
